<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js" async></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1><%=date%></h1>
        <table>
            <tr class="value1">
                <td><%=value1[0]%></td>
                <td><%=value1[1]%></td>
                <td><%=value1[2]%></td>
                <td><%=value1[3]%></td>
            </tr>
            <tr class="value2">
                <td><%=value2[0]%></td>
                <td><%=value2[1]%></td>
                <td><%=value2[2]%></td>
                <td><%=value2[3]%></td>
            </tr>
            <tr class="value3">
                <td><%=value3[0]%></td>
                <td><%=value3[1]%></td>
                <td><%=value3[2]%></td>
                <td><%=value3[3]%></td>
            </tr>
            <tr class="value4">
                <td><%=value4[0]%></td>
                <td><%=value4[1]%></td>
                <td><%=value4[2]%></td>
                <td><%=value4[3]%></td>
            </tr>
        </table>
    </div>
</body>

</html>